@model FincaToma1.Models.Empleado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaE)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDE">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
