@model FincaToma1.Models.Corte

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Corte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCorte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCorte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatasCortadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatasCortadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.IDE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion.IDU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioLata)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioLata.IDPL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDC">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
