@model IEnumerable<FincaToma1.Models.Corte>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaCorte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatasCortadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioLata)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCorte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatasCortadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.IDE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion.IDU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioLata.IDPL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDC">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDC">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDC">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
