@model FincaToma1.Models.Pago

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.IDE)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDP">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
